<% content_for :profile do %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container flex ">
        <img src="http://placehold.it/110x110" alt="..." class="img-thumbnail rounded-circle">
        <h3 class="name"><%= @user.name %></h3>
      </div>
    </div>
    <div class="container">
      <div class="tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#questions" role="tab">Questions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#answers" role="tab">Answers</a>
          </li>
          <% if @is_current %>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
            </li>  
          <% end %>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="questions" role="tabpanel">
            <div class="list-group">
              <% @user.questions.each do |question| %>
                <a href="/questions/<%= question.id %>" 
                  class="list-group-item list-group-item-action title">
                  <%= question.title %>
                  <div class="status-bar flex">
                    <p class="answer-txt"><span><%=question.answers.count %></span> Answers</p>
                    <p class="upvote-txt"><span><%=question.votes.upvote.count%></span> Upvotes</p>
                    <p class="downvote-txt"><span><%=question.votes.downvote.count%></span> Downvotes</p>
                  </div>
                </a>    
              <% end %>  
            </div>
          </div>
          <div class="tab-pane" id="answers" role="tabpanel">
            <div class="list-group">
              <% @user.answers.each do |answer| %>
                  <a href="/questions/<%= answer.question.id %>" 
                  class="list-group-item list-group-item-action">
                    <h5 class="list-group-item-heading"><%= answer.question.title %></h5>
                    <p class="list-group-item-text"><%= answer.content %></p>
                    <div class="status-bar flex">
                      <p class="upvote-txt"><span><%= answer.votes.upvote.count%></span> Upvotes</p>
                      <p class="downvote-txt"><span><%= answer.votes.downvote.count %></span> Downvotes</p>
                    </div>
                  </a>
              <% end %>
            </div>
            
          </div>
          <div class="tab-pane" id="settings" role="tabpanel">
            <% if @is_current %>
              <%= erb :'user/partials/edit_form', :layout => false,
                      :locals => {:user => @current_user} %>
            <% end %>
          </div>
      </div>
    </div>
<% end %>



















    