<div class="user flex">
  <img src="/img/default-placeholder.png" alt="..." width="60" height="60" class="img-thumbnail rounded-circle">
  <div class="name-wrapper">
    <a class="name" href="/users/<%= question.user.id %>"><%= question.user.name %></a>
    <h5 class="time">30 seconds ago</h5>
  </div>
  <% if question.user.eql?(@current_user) %>
    <%= erb :'question/edit_question', :layout => false, :locals => {:question => question} %>
  <% end %>
</div>
<div class="question-row">
  <a href="/questions/<%= question.id %>" name="title" class="title" >
  <%= question.title.capitalize %>
  </a>
</div>
<div class="status-bar flex">
  <p class="answer-txt"><span><%= question.answers.count %></span> Answers</p>
  <p class="upvote-txt"><span><%= question.votes.upvote.count %></span> Upvotes</p>
  <p class="downvote-txt"><span><%= question.votes.downvote.count %></span> Downvotes</p>
</div>
<div class="btns" data_parent="<%= question.id %>">
	<button class="btn btn-outline-info btn-answer">Answer</button> 
  <% if voted = question.votes.voted?(question.id, @current_user.id).first %>
      <% if voted.vote_type == 'Upvote' %>
        <button class="btn btn-upvote clicked">Upvoted</button>  
        <button class="btn btn-downvote">Downvote</button>
      <% else %>
        <button class="btn btn-upvote">Upvote</button>
        <button class="btn btn-downvote clicked">Downvoted</button>    
      <% end %>
  <% else %>
    <button class="btn btn-upvote">Upvote</button>
    <button class="btn btn-downvote">Downvote</button>  
  <% end %>
</div>






